For loop is used when the number of iterations is already known

In [ ]:
l = [1,2,3,4,5,6]
for i in l:
  print(i)

1
2
3
4
5
6

While loop is used when the number of iterations is already Unknown

In [ ]:
a = 1
while a <=10:
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

A2: Sum of number

In [ ]:
result = 0
for i in range(11):
  result = result + i
result

55

A3 : the electricity bill

In [ ]:
n = int(input('Enter your"s unit :'))
if n==1  and n ==100:
  n = n* 4.5
  print(n)
  if n ==101 and n == 200:
    n = n*6 
    n = 450 +600
  print('yuo will be pay :') 
  print(n)
elif n==201 and n ==300:

  print('you will be pay :')
  print(n)
else:
  n = n* 20
  n = n+ n
  print(n)

Enter your"s unit :100
4000

In [ ]:
l1 = []
l2 = []
for i in range(101):
   i = i**2
   l1.append(i)
   if i%4 or 5==0:
     l2.append(i)
print(l1)
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

A5: filter vowels

In [ ]:
s = "I want to become a data scientist"

In [ ]:
s = "I want to become a data scientist"
s1 = []
for i in s:
  if i=='a': 
    s1.append(i)
  elif i == 'e':
    s1.append(i)
  elif i == 'i':
    s1.append(i)
  elif i == 'I':
    s1.append(i)
  elif i == 'o':
    s1.append(i)
  elif i =='u':
    s1.append(i)
else:
  print(s)
    
  
  
print(s1)

I want to become a data scientist
['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']